<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('carousel.admin.title.index') %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t('carousel.admin.buttons.create'), new_admin_carousel_path, icon: 'plus' %></li>
<% end %>

<table class="index" id='listing_carousels' data-hook>
  <colgroup>
    <col style="width: 85%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr data-hook="tax_header">
      <th><%= Spree.t('carousel.admin.headers.title') %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% if @carousels.any? %>
    <% @carousels.each do |carousel| %>
    <tr data-hook="links_row" class="<%= cycle('odd', 'even')%>">
      <td><%= carousel.title %></td>
      <td class="actions">
        <%= link_to_edit(carousel, { no_text: true, url: edit_admin_carousel_path(carousel.id) }) %>
        <%= link_to_delete(carousel, { no_text: true, url: admin_carousel_path(carousel.id) }) %>
      </td>
    </tr>
    <% end %>
    <% else %>
    <tr data-hook="links_none" class="<%= cycle('odd', 'even')%>">
      <td><%= Spree.t('carousel.admin.none') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
