<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('carousel.admin.title.index') %>
<% end %>

<table class="index" id='listing_carousels' data-hook>
  <colgroup>
    <col style="width: 65%" />
    <col style="width: 30%" />
    <col style="width: 5%" />
  </colgroup>
  <thead>
    <tr data-hook="carousel_header">
      <th><%= Spree.t('carousel.admin.headers.title') %></th>
      <th><%= Spree.t('carousel.admin.headers.location') %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% if @carousels.any? %>
    <% @carousels.each do |carousel| %>
    <tr data-hook="carousel_row" class="<%= cycle('odd', 'even')%>">
      <td><%= carousel.title %></td>
      <td><%= carousel_location_values.key(carousel.location) %></td>
      <td class="actions">
        <%= link_to_edit(carousel, { no_text: true, url: edit_admin_carousel_path(carousel.id) }) %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
