<script type="text/javascript">
//<![CDATA[
  $("#carousel<%= carousel.id %> .slider").slick({
    appendArrows:     $("#carousel<%= carousel.id %> .slick-arrows"),
    prevArrow:        '<button type="button" class="slick-prev"><%= Spree.t('carousel.prev') %></button>',
    nextArrow:        '<button type="button" class="slick-next"><%= Spree.t('carousel.next') %></button>',
    asNavFor:         null,
    responsive: [
      {
        breakpoint: 800,
        settings:   {
          slidesToShow:   1,
          slidesToScroll: 1
        }
      }
    ],
    slide:            'div',
    rtl:              false,
    cssEase:          'ease',
    vertical:         false,
    accessibility:    <%= carousel.accessibility %>,
    autoplay:         <%= carousel.autoplay %>,
    autoplaySpeed:    <%= carousel.autoplay_speed %>,
    arrows:           <%= carousel.arrows %>,
    centerMode:       <%= carousel.center_mode %>,
    centerPadding:    '<%= carousel.center_padding %>',
    dots:             <%= carousel.dots %>,
    draggable:        <%= carousel.draggable %>,
    fade:             <%= carousel.fade %>,
    focusOnSelect:    <%= carousel.focus_on_select %>,
    easing:           '<%= carousel.easing %>',
    infinite:         <%= carousel.infinite %>,
    lazyLoad:         '<%= carousel.lazy_load %>',
    pauseOnHover:     <%= carousel.pause_on_hover %>,
    pauseOnDotsHover: <%= carousel.pause_on_dots_hover %>,
    slidesToShow:     <%= sidebar ? 1 : carousel.slides_to_show %>,
    slidesToScroll:   <%= sidebar ? 1 : carousel.slides_to_scroll %>,
    speed:            <%= carousel.speed %>,
    swipe:            <%= carousel.swipe %>,
    touchMove:        <%= carousel.touch_move %>,
    touchThreshold:   <%= carousel.touch_threshold %>,
    useCSS:           <%= carousel.use_css %>
  });
//]]>
</script>
