<div>
  <h1 class="product-title"><%= product.name %> - <%= product.sku %></h1>

  <div class="product-image">
    <%= link_to product_image(product), product, itemprop: 'url' %>
  </div>

  <div class="product-description">
    <%= product.description.to_s.html_safe %>
  </div>

  <span class="product-price">
    <%= display_price(product) %>
  </span>
</div>
